body {
    display: flex;
    flex-direction: column; /* Direção das partes na vertical */
    margin: 0;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.parte {
    flex: 1; 
    display: flex; 
    justify-content: center; 
    font-size: 24px; 
    color: white; 
}

.parte1 {
    background-color: #f1c40f;
}



